{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph3 pt4">
    {{ range $index, $element := .Params.about}}
        {{ if modBool $index 2 }}
            {{ partial "media-block" $element }}
        {{ else }}
            {{ partial "media-block-reverse" $element }}
        {{ end }}
    {{ end }}

    <h3 class="f3 b center-title mb1">{{.Params.grounds.heading}}</h3>
    <p class="mw8">{{.Params.grounds.text}}</p>
    <p class="center">
        <iframe align="middle" width="600" height="450" frameborder="0"
                                                        style="border:0"
                                                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJDzdze0FydkgRswXIUtccIpM&key=AIzaSyCqtTyhHpncN6nABvpt4yUdd0OnZNP93uc"
                                                        allowfullscreen></iframe>
    </p>

</div>


{{ end }}
